@tailwind base;
@tailwind components;
@tailwind utilities;

body { @apply bg-gray-50; }

.input { @apply border p-2 rounded-md w-full; }

/* Hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
